<mat-card class="home mat-elevation-z2">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title>
      <a href="https://github.com/Pietro-berg7" class="link">
        Pietro Bergamaschi
      </a>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">Full-Stack Developer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-title class="title">Bem Vindo!</mat-card-title>
  <mat-card-subtitle class="subtitle">Sobre Mim</mat-card-subtitle>
  <mat-card-content class="mat-card-content">
    <p>
      Desenvolvedor Full-Stack apaixonado por criar experiências digitais
      excepcionais. Experiência em tecnologias Front-End e Back-End, incluindo
      .NET, Angular, React e Node.js. Comprometido em entregar soluções de alta
      qualidade e colaborar em projetos inovadores.
    </p>
    <a href="https://github.com/Pietro-berg7" target="_blank">My GitHub</a>
  </mat-card-content>
</mat-card>
